body {
    background-color: rgb(225, 249, 241);
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif, 'system-ui';
}
#header, #footer {
    background-color: #262626;
    margin: 0;
    width: 96%;
    color: white;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}
#header {
    word-spacing: 10px;
}
footer {
    min-height: 100px;
}
nav {
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
#page-title {
    text-align: center;
    font-size: 26px;
}
#main {
    width: 76%;
    margin-left: 10%;
    padding: 2%;
}
.text {
    width: 70%;
    margin-left: 15%;
    font-size: 22px;
}
pre {
    background-color: #373737;
    border-radius: 5px;
}
code {
    color: greenyellow;
    padding: 1%;
    text-align: left;
}
.codes {
    color: white;
}
.imports {
    color: rgb(131, 60, 60);
}
.func {
    color: blue;
}