body {
    background-color: rgb(180, 251, 227);
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif, 'system-ui';
}
#header, #footer {
    background-color: #373737;
    min-height: 100px;
    margin: 0;
    width: 96%;
    color: white;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
#page-title {
    text-align: center;
}